<%- include('../header.ejs')%>
<!-- ==========carousel start -->

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/blog1.avif" class="d-block w-100 " height="500px" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/blog3.avif" class="d-block w-100 " height="500px" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/blog2.avif" class="d-block w-100 " height="500px" alt="...">
      </div>
    </div>
    
    
  </div>
  <!-- ==========carousel end========= -->
<section class="featured-blog mtb-40">
    <div class="container">
        <div class="row m-2 ">
            <% b.forEach((item)=> { %> 
            <div class="col-md-4  p-4">
                <div class="blog-box">
                    <img src="<%= item.image.url %>" alt="blog1" />
                    <h3><%= item.title %></h3>
                    <p><%= item.createdAt.toLocaleDateString() %></p>
                  
                    <p><%= item.description.slice(0,90) %></p>
                    <a href="/blogdetails/<%= item._id %>" class="btn btn-outline-danger">Read more...</a>
                </div>
            </div>
            <% }) %>
        </div>
      
    </div>
</section>
<%- include('../footer.ejs')%>